# Build preview to Cloudflare Pages
name: Build preview

concurrency:
  group: ${{ github.ref }}-preview
  cancel-in-progress: true

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'FOME-Tech' && github.actor != 'dependabot[bot]'

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Install Node.js dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Save PR number
        run: |
          echo ${{ github.event.number }} > ./build/PR_NR

      - name: Upload preview build
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: build/
